:root {
  --white: #FFFFFF;
  --light-grey: #999999;
  --sweet-grey: #ececec;
  --hair-grey: #cacaca;
  --input-grey: #eaeaea;
  --dark-grey: #333333;
  --primary-purple: #9D5CD0;
  --dark-purple: #7943A4;
  --light-purple: #C283F3;
  --soft-purple: #D1A9F0;
  --muddy-pink: #d88f99;
  --offset: 3px;
}

.search-form {
  display: flex;
  align-items: center;
  min-width: 251px;
}

.search-form__icon {
  display: flex;
  order: -1;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  background: url("/img/search-icon.svg") center center no-repeat;
  border: none;
  outline: none;
}

.search-form__icon:hover {
  outline: none;
}

.search-form__icon:focus {
  outline: none;
}

.search-form__icon:active {
  outline: none;
}

.search-form__input {
  display: flex;
  flex: 1;
  padding: 3px 0;
  font-size: 18px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  background: none;
  transition: border-color .3s ease-in-out;
}

.search-form__input::placeholder {
  color: #fff;
}

/*.search-form___form:hover .search-form__input,*/

.search-form__input:hover {
  border-color: var(--primary-purple);
}

.search-form__input:focus {
  border-color: var(--primary-purple);
  outline: none;
}

.search-form__input:active {
  border-color: var(--primary-purple);
  outline: none;
}

.search-form__input:focus::placeholder,
.search-form__input:active::placeholder {
  visibility: hidden;
}


@media (max-width: 767px) and (min-width: 567px) {
  .container {
    width: 100vw;
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .header {
    position: fixed;
  }
  .top-nav {
    padding: 0;
  }
  .top-nav__container {
    height: 60px;
  }
  .main-nav {
    position: fixed;
    flex-direction: column;
    top: -100vh;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 50px 40px 50px;
    background-color: rgba(0, 0, 0, .9);
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transform: translateY(-100%);
    transition: transform .3s ease-in-out;
  }
  .main-nav.is-active {
    top: 0;
    visibility: visible;
    opacity: 1;
    transform: translateY(60px);
  }
  .main-nav .main-nav__list {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
  }
  .main-nav__item {
    display: inline-block;
    width: 25%;
  }
  .main-nav__list .main-nav__item:not(:last-child) {
    margin-right: 0;
  }
  .main-nav__link {
    display: block;
    padding: 15px 0;
    font-size: 24px;
  }
  .main-nav .header__login-box {
    width: 260px;
    padding: 20px 90px;
    text-align: center;
    font-size: 18px;
    line-height: 1;
    border: 2px solid var(--primary-purple);
    border-radius: 100px;
  }
  .header__login-box::before {
    border-radius: 100px;
  }
  .header__login-icon {
    width: 13px;
    height: 13px;
    background-size: contain;
  }
  .burger.is-active .burger__line:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
  }
  .burger.is-active .burger__line:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
  }
  .burger.is-active .burger__line:nth-child(1), .burger.is-active .burger__line:nth-child(3) {
    transform-origin: center;
  }
  .burger.is-active .burger__line:nth-child(2) {
    transform: translateX(-100px);
  }
  .header__burger, .header__search-btn {
    display: flex;
  }
  .header__logo {
    width: 188px;
    margin-right: auto;
    transform: translateX(-3px);
  }
  .header__logo-img {
    width: 100%;
  }
  .sub-nav {
    display: none;
  }
  .site-hero {
    padding-top: 90px;
    padding-bottom: 90px;
    min-height: unset;
  }
  .site-hero__textblock {
    max-width: 100%;
    text-align: center;
  }
  .site-hero__caption {
    margin: 0 0 13px 0;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
  }
  .site-hero__text {
    margin: 0 0 30px 0;
  }
  .hero-slide.slide-01 {
    background-image: url(/img/768/slider-01.jpg);
  }
  .hero-slide.slide-02 {
    background-image: url(/img/768/slider-02.jpg);
  }
  .hero-slide.slide-03 {
    background-image: url(/img/768/slider-03.jpg);
  }
  .section-gallery__container {
    flex-direction: column;
  }
  .section-gallery__filter {
    width: 280px;
    margin-bottom: 25px;
  }
  /* .filter__description{
    position: absolute;
  } */
  .section-gallery__slider {
    /* display: block;
    flex-direction: column;
    flex: 1;
    width: 100%;
    max-height: 680px;
    padding-top: 25px;
    color: #fff; */
    width: 100%;
    margin-bottom: 21px;
  }
  .gallery-slide {
    max-height: 280px;
  }
  .choices {
    position: relative;
    z-index: 2;
  }
  /* .choices__list--dropdown{
    z-index: +1;
  } */
  .choices__list--dropdown .choices__item, .choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: rgba(0, 0, 0, .85);
  }
  .last-block {
    position: relative;
    width: 100%;
  }
  .last-block__content {
    position: relative;
  }
  .section-catalog {
    min-height: 2295px;
  }
  .catalog-wrapper {
    flex-direction: column;
  }
  .section-catalog__titlebox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .section-catalog__title {
    margin-right: 41px;
  }
  .artists-list {
    column-count: 2;
    column-gap: 30px;
  }
  .artist-block--active, .artist-block--visible {
    width: 100%;
  }
  .ui-accordion-content-active .empty-years, .catalog-tab__item--active .empty-years {
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    margin: auto;
    visibility: visible;
    opacity: 1;
  }
  .catalog-wrapper__select {
    width: 100%;
    margin-bottom: 50px;
    order: -1;
  }
  .catalog-tabs__list .catalog-tabs__item:not(:last-child) {
    margin-right: 54px;
  }
  .catalog-tab__introtext {
    margin-bottom: 19px;
  }
  .select-accordion__content {
    max-width: 100%;
    min-height: 339px;
  }
  .select-accordion__title[aria-expanded="true"]::before {
    right: 2px;
    top: calc(50% - 25px);
  }
  .select-accordion__title::before {
    right: 3px;
  }
  .events-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .fullrow {
    max-height: 25000px;
  }
  .events-row .event-block:not(:nth-child(3n)) {
    margin-right: 0;
  }
  .events-row .event-block:nth-child(odd) {
    margin-right: 34px;
  }
  .events-row .event-block:nth-child(even) {
    margin-right: 0;
  }
  .event-block {
    flex: 0 0 calc(50% - 17.5px);
    min-height: 684px;
    margin-bottom: 34px;
  }
  .event-info {
    padding: 0 35px 48px 35px;
  }
  .section-editions__container {
    flex-direction: column;
  }
  .section-editions__filter {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    margin-right: 0;
  }
  .section-editions__slider {
    width: 100%;
    padding-top: 52px;
    padding-left: 0;
    padding-bottom: 0;
  }
  .edition-slide__img {
    margin-bottom: 14px;
  }
  .section-editions__checkboxes {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 31px;
  }
  .custom-checkbox {
    display: flex;
    flex: 1 0 33.333333%;
    padding-right: 15px;
  }
  .editions-slider {
    padding-left: 27px;
    padding-right: 27px;
  }
  .section-editions__slider .gallery-controls {
    transform: translate(-27px, 0);
  }
  .partners-slider-container {
    position: relative;
    padding: 0 52px;
  }
  .partner-slide__block {
    padding: 0 24px;
    height: 106px;
  }
  .contacts-block__inner {
    min-width: 335px;
    max-width: 335px;
  }
  /**/
  .section-editions {
    padding-top: 83px;
    padding-bottom: 63px;
  }
  .section-projects__text {
    margin-bottom: 60px;
  }
  .section-projects__partners-title {
    margin: 0 0 32px 0;
  }
  .contacts__contacts {
    width: calc(380 / 670 * 100%);
    padding-right: 5.9vw;
  }
  .contacts__map {
    width: calc(288 / 670 * 100% + ((100vw - 100%) / 2));
  }
  .messendgers-list .messendgers-list__item:not(:last-child) {
    margin-right: 30px;
  }
  .messendgers-list__link {
    width: 60px;
    height: 60px;
    background-size: 60%;
  }
  .footer {
    padding: 41px 0;
  }
  .footer-socials {
    transform: translate(0, 0);
  }
  .footer-socials .footer-socials__item:not(:last-child) {
    margin-right: 30px;
  }
  .footer-socials__link, .footer-socials__link svg {
    width: 60px;
    height: 60px;
  }
  /*HEADER SEARCH*/
  .header__search-btn {
    z-index: +1;
  }
  .header-search.is-active {
    position: absolute;
    width: calc(100% - 80px);
    height: auto;
    min-width: auto;
    right: 65px;
    margin: 0;
    padding: 15px 0;
    background-color: black;
    visibility: visible;
    opacity: 1;
  }
  .header-search.is-active .search-form__input {
    position: relative;
    width: calc(100% - 80px);
    height: auto;
    visibility: visible;
    opacity: 1;
  }
  .header-search.is-active .search-form__icon {
    position: relative;
    width: 30px;
    height: 30px;
    order: -1;
    margin-right: 11px;
    background-size: cover;
    visibility: visible;
    opacity: 1;
  }
  .burger.is-active .burger__line, .toggle-search.is-active .toggle-search__line {
    background-color: rgba(255, 255, 255, .7);
  }
}



.swal-button {
  display: inline-block;
  position: relative;
  padding: 20px 34px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  color: var(--white);
  border: 3px solid;
  border-color: transparent;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color .3s ease-in-out, color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.swal-button:focus, .swal-button:active {
  outline: none;
}

.swal-button {
  background-color: var(--primary-purple);
  border-color: var(--primary-purple);
}

.swal-button:hover {
  background-color: var(--primary-purple);
  border-color: var(--soft-purple);
}

.swal-button:focus {
  background-color: var(--primary-purple);
  border-color: var(--primary-purple);
}

.swal-button:focus::before {
  display: block;
  position: absolute;
  top: -9px;
  left: -9px;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  content: " ";
  border: 3px solid;
  border-color: var(--light-purple);
  border-radius: 100px;
}

.swal-button:active {
  background-color: var(--dark-purple);
  border-color: var(--soft-purple);
}
